.draftRoundTime{
    /* margin-top: 25px; */
    /* margin-bottom:25px; */
    /* padding-top: 15px; */
    
    
    /* padding-right: 10px; */
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    color: #00002E;
    margin-left: -5px;
        margin-right: -5px;
        
    }

    .draftTeamDiv{

       background-color: #03AC36;
       color: white;
       font-weight: bold;
       font-size: 18px;
       letter-spacing: 1px;

    }
    .draftTeamDiv2{

        background-color: #CBCBCB;
        color: white;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 1px;
 
     }

     .mobDraftRound{
        display: none;
    }

     @media screen and (max-width: 500px) {
        .mobDraftRound{
            display: block;
        }
        .webDraftRound{
            display: none;
        }
        .table{
            padding-left: 0px;
            padding-right: 0px;
        }
        .table-striped{
            overflow-x: auto;
            display: block;
            width: 100%;
        }
        .imageDraftRound{
            width: 100%;
         }
        .playerNameDraftRound{
            font-size: 8px;
            text-decoration: underline;
            font-family: 'Gilroy-Light';
            color: '#064EA4',
            
        }
     }