.webViewDraftRule{
    margin-left:5px;
    margin-right:5px ;
    padding-left:150px ;
    padding-right:150px;

}

@media only screen and (min-width:300px) and (max-width: 600px) {

    .webViewDraftRule{
        margin-left:2px;
        margin-right:2px ;
        padding-left:2px ;
        padding-right:2px;
    
    }


    .mobileViewContent{
        display: flex;
        justify-content: center;
    }



}