
.footerCenter{
    margin-top: 25px;
    margin-bottom: 10px;
}

@media only screen and  (max-width:600px) {
    .footerWidth{

        height:300px

    
    }
    .footerCenter{
        margin-top: 0px;
        margin-bottom: 10px;
    }
    
  }
  