
.footerLogo{
    margin-top: 30px;
}
.footerCenter{

    margin-bottom: 10px;
    padding-top: 30px;
}
.footerPlayerImage{
    width: 270px;

}

@media only screen and  (max-width:600px) {
    .footerWidth{

        height:300px

    
    }
    .footerLogo{
        
    }
    .footerCenter{
     
        margin-bottom: 10px;
        padding-top: 5px;
    }
    .footerPlayerImage{
        width: 150px;

    }
    
  }
  