.headerContainer{
    width: 100%;
    height: 70px;
    position: relative;
    margin: 20px;
}
.box-1{
    width: 180px;
    height: 85px;            
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 15px;
    opacity: 0.8;  /* for demo purpose  */
}
.stack-top{
    z-index: 9;
    margin: 20px; /* for demo purpose  */
}

.mobile-container {
  max-width: 100%;
  margin: auto;
 
  height: 80px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: rgb(16, 212, 59);
  padding: 4px 6px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}


@media only screen and (min-width:1247px) and (max-width: 3000px) {
  #fadeshow1 {
      display: none;
  }
}


@media only screen and (max-width: 1246px) {
  #hideDesktopNav {
      display: none;
  }
}
