.homepageBanner{
    background-color: rgb(62, 62, 62);
    color: rgb(220, 220, 220);
    border: 2px solid black;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-size: 87px;
    font-weight: lighter;
}

.site-card-border-less-wrapper {
   background: #ececec;
  }


  .homePagetableBody{
      font-size: medium;
      font-family: 'Bebas Neue', cursive;
  }

  .homePagetableHeader{
    background-color:#00002E ;
    color: #FFFFFF;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 20px;  
}

.homepageBannerSmall{
    background-color: rgb(62, 62, 62);
    color: rgb(220, 220, 220);
    border: 2px solid black;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-size: 47px;
    font-weight: lighter;
}

.leagueMessage{
    text-align: center;
    display: none;
    text-decoration: underline;
    cursor: pointer;
    color: rgb(104, 124, 148);
}
.dropdownHome{
    display: none;
}
@media screen and (max-width: 500px) {
    .homepageBanner{
        display: none;
    }
    .gameWeekFixtures{
        display: none;
    }
    .leagueMessage{
        display: block;
        margin-left: 150px;
    }
    .thirdMatch{
        display: none;
    }
    .dropdownHome{
        display: block;
    }
    .homeDropDownhead{
        background-color: rgb(0, 0, 46);
        color: white;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 1px;
    }
  }

/* 
  @media screen and (max-width: 500px) {
    
    .gameWeekFixtures{
        display: none;
    }
  } */