.homepageBanner{
    background-color: rgb(62, 62, 62);
    color: rgb(220, 220, 220);
    border: 2px solid black;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-size: 87px;
    font-weight: lighter;
}

.site-card-border-less-wrapper {
   background: #ececec;
  }