.landingBody{
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  background-image: url('../Assets/Images/Landing.png');
  background-size: contain;
  
}

.innerLandingBody{
    justify-content: center;
    background-image: url('../Assets/Images/MaskGroup.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: white;
    
    
}

.leftcol{
  margin-left: 100px;
}
.rightCol{
  margin-right: 100px;
}

input{
  box-shadow:outset 0 0 5px 5px rgb(68, 60, 60);
  background: #fff;
}

.email{
  font-family: 'Gilroy-Light';
  text-align: left;
}
.email1{
  display: none;
}

.landingPowerball{
  font-size: 16px;
  font-family: 'Gilroy-Light';
}
.rightColData{
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}


.landingHead{
  width: 100%;
  margin-left: -360px;
}

.landingLogo{
  width: 10%;
  margin-top: -80px;
  margin-bottom: -30px; 
  margin-left: 490px; 
}


/* rgb(5, 74, 23) */

@media screen and (max-width: 500px) {

  .landingPowerball{
    font-size: 16px;
    text-align: center;
   }
  .innerLandingBody{
    background-image: none;
    background-color: white;
    }
    .email{
      display: none;
    }
    .email1{
      display: block;
      text-align: center;
      font-family: 'Gilroy-Light';
    }
    .leftcol{
      margin-left: 0px;
    }
    .headingUnique{
      margin-top: 20px;
      text-align: center;
      font-size: 38px;
      font-family: 'Bebas Neue', cursive;
    }
    .buttonLandingScoring{
      margin-left: 80px;
    }
    .rightColData{
      text-align: center;
      
    }
    .rightCol{
      margin-left: 100px;
    }
    .mobBackImage{
      background-color: #f1f1f1;
    }
    .landingHead{
      width: 720px;
      height: 200px;
      /* margin-right: 1000px; */
    }
    .landingLogo{
      width: 100px;
      margin-top: -100px;
      margin-bottom: -30px;
      margin-left: 170px;
    }

}