.overview{
    /* margin-top: 25px; */
    margin-bottom:25px;
    /* padding-top: 15px; */
    padding-left: 20px;
    
    /* padding-right: 10px; */
    font-family: 'Bebas Neue', cursive;
    /* margin-left: 300px;
        margin-right: 300px; */
        
    }

    .h5Overview{
        font-size: 58px;
        font-family: 'Bebas Neue';
        font-weight: bold;
    }

    .blueDivOverview{
        background-color: #00002E;
        color: white;
    }
    .greenDivOverview{
        background-color: #03AC36;
        color: white;
    }
    .greyDivOverview{
        background-color: #CBCBCB;
        color: white;
    }

    .overviewBtn{

        background-color: black;
        color:white;
        font-size: 30px;
        font-family: 'Bebas Neue', cursive;
        margin-top: 5px;
       
        margin-bottom: 5px;

    }

    .greenbtn{

        background-color: green;
        color:white;
        font-size: 30px;
        font-family: 'Bebas Neue', cursive;
        margin-top: 5px;
       
        margin-bottom: 5px;

    }

    /* .blueDivOverview{
        background-color: #00002E;
        color: white;
    } */


    .overviewInc{
        font-size: 32px;
        font-family:  'Bebas Neue', cursive;
        display: flex;
        justify-content: space-around;
    }
    .overviewFontColor{
color: #CBCBCB;


    }

    .incDecButton{
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 3px;
        margin-right: 3px;
    }

    .webDraftRoundTable{
        display: block;
    }
    .mobDraftRoundTable{
        display: none;
    }

    @media screen and (max-width: 500px) {
        .h5freeAgentsOverview{
            display: none;
        }
        .webDraftRoundTable{
            display: none;
        }
        .mobDraftRoundTable{
            display: block;
        }
    }