.ScoringRules {
	/* margin-top: 25px; */
	margin-bottom: 25px;
	/* padding-top: 15px; */
	padding-left: 20px;

	/* padding-right: 10px; */
	font-family: 'Bebas Neue', cursive;
	margin-left: 300px;
	margin-right: 300px;
}

.table {
	padding-right: 10px;
    padding-left: 10px;
    font-family: 'Gilory-Regular', cursive;
}

.tableData {
	font-size: 18px;
    font-family: 'Gilory-Regular', cursive;

}
