.standingFontFamily{
    font-family: 'Bebas Neue', cursive;
}
.Standings{
    /* margin-top: 25px; */
    margin-bottom:25px;
    /* padding-top: 15px; */
    /* padding-left: 20px; */
    
    /* padding-right: 10px; */
    font-family: 'Bebas Neue', cursive !important;
    /* margin-left: 250px;
        margin-right: 250px; */
        
    }
    .StandingHeader{
        background-color: rgb(0, 0, 46);
								color: white;
								text-align: center;
								padding-top: 10px;
								padding-bottom: 10px;
                                font-family: 'Bebas Neue', cursive;
                                font-size: 40px;
                                font-weight: bold;
								letter-spacing: 1px
    }

    .StandingTableHeader{
        background-color:#FFFFFF ;
        color: #0c0c0c;
        font-family: 'Bebas Neue', cursive;
        font-weight: bold;
        font-size: 16px;
    }
    .Standingtable{
        padding-right: 6px;
        padding-left: 6px;
        margin-left: 6px;
        margin-right: 6px;
        /* padding-left: 20px; */
    }
    .StandingTableData{
        font-size: 16px;
        
        font-weight:bold;
    }
    .imgStyle{
        width:27px;
        height:25px;
        margin-left: 6px;
        margin-right: 6px;
    }
    