.TeamDraft{
    /* margin-top: 25px; */
    margin-bottom:25px;
    /* padding-top: 15px; */
    padding-left: 20px;
    
    /* padding-right: 10px; */
    font-family: 'Bebas Neue', cursive;
    /* margin-left: 300px; */
        /* margin-right: 300px;
         */
    }

    .h5TeamDraft{
        font-size: 40px;
        font-family: 'Bebas Neue', cursive;
    }

    .teamDraftBtn{

        background-color: black;
        color:white;
        font-size: 30px;
        font-family: 'Bebas Neue', cursive;
        margin-top: 5px;
       
        margin-bottom: 5px;

    }