.TeamDraft{
    /* margin-top: 25px; */
    margin-bottom:25px;
    /* padding-top: 15px; */
    padding-left: 25px;
    
    /* padding-right: 15px; */
    font-family: 'Bebas Neue', cursive;
    /* margin-left: 300px; */
        /* margin-right: 300px;
         */
    }

    .h5TeamDraft{
        font-size: 40px;
        font-family: 'Bebas Neue', cursive;
    }

    .teamDraftBtn{

        background-color: black;
        color:white;
        font-size: 20px;
        font-family: 'Bebas Neue', cursive;
        margin-top: 5px;
        padding-right: 20px;
        padding-left: 20px;
        margin-bottom: 5px;

    }


    .solidLeftBorder{
        border-left: "1px solid lightgrey"

    }
    .solidRightBorder{
        border-right: "1px solid lightgrey"

    }
    .dotedLeftBorder{
        border-left: "1px dashed lightgrey"
    }
    .dotedRightBorder{
        border-right: "1px dashed lightgrey"
    }

    @media screen and (max-width: 500px) {
        .h5TeamDraft{
            font-size: 20px;
        }
    }